<div class="container">
	<h1 class="header center">Our Doughnuts</h1>
	<hr>
	<!-- SLIDES -->
	<div class="slider">
		<ul class="slides z-depth-5">
			<li>
				<%= image_tag("doughnutgroup1.jpg") %>
				<div class="caption center-align">
					<h4 class="slider-caption">mini.</h3>
				</div>
			</li>
			<li>
				<%= image_tag("doughnutgroup2.jpg") %>
				<div class="caption right-align">
					<h4 class="slider-caption">delicious.</h3>
				</div>
			</li>
			<li>
				<%= image_tag("doughnutgroup3.jpg") %>
				<div class="caption right-align">
					<h4 class="slider-caption">bite-sized.</h3>
				</div>
			</li>
		</ul>
	</div>

	<div class="section">
		<div class="row">
			<div class="col s12 m6">
				<h1 class="center">
					Size
				</h1>
				<p>
					Just how mini are the doughnuts? Our doughnuts are a little less than 2” in diameter.
				</p>
			</div>
			<div class="col s12 m6">
				<h1 class="center">
					Flavors
				</h1>
				<p>
					We have collections of both  <span class="standout">sweet</span> and <span class="standout">savory</span> doughnuts. Our doughnuts are inspired by seasonal flavors and the menu is always changing. Be sure to check out our menu to see our current flavors!
				</p>
			</div>
		</div>
	</div>

	<h1 class="header center">Our Philosophy</h1>
	<hr>
	<div class="section">
		<div class="row">
			<div class="col s12 m6">
				<h1 class="center">
					Baked Not Fried
				</h1>
				<p class="light">
					Keyhole Doughnuts are always baked, never fried. Why? Because coupled with their size, they make for a great guilty-free treat that satisfies your cravings.
				</p>
				<p>
					However, special orders for fried mini doughnuts are accepted!
				</p>
			</div>
			<div class="col s12 m6">
				<h1 class="center">
					Ingredients
				</h1>
				<p>
					We strive to use only premium quality ingredients. 
				</p>
				<p>
					We develop all our own recipes to create great taste and flavor in each bite <span class="standout">without any artificial additives</span>.
				</p>
			</div>
		</div>
	</div>
</div>