<div class="container index">
	<h5 class="center-align home first">mini.</h5>
	<h5 class="center-align home">delicious.</h4>
	<h4 class="center-align home">guilt-free.</h3>
	<h3 class="center-align home">bite-sized.</h2>
	<h2 class="center-align home">doughnuts.</h1>
</div>

