<div class="doughnutbox" id="first">
	<div id="logo">
		KEYHOLE DOUGHNUTS
	</div>
	<div id="background">
	</div>
	<div id="foreground">
		Foreground Doughnut Image Or Logo
	</div>
	<div id="behind">
		Behind Doughnut Image Or Logo
	</div>
</div>


<div class="aboutwrapper">

	<h1>About Us</h1>
	
	<hr>
	<hr>

	<p>Ice cream cupcake apple pie. Donut soufflé sweet. Cookie liquorice candy tootsie roll candy pie. Chocolate cake gingerbread pudding jelly cake jujubes danish cake. Sweet tiramisu jelly dragée. Cake icing croissant chocolate cake fruitcake. Cotton candy powder chocolate jujubes bonbon croissant candy sesame snaps. Dragée dessert cotton candy. <br> <br>
	Wafer jelly-o marshmallow candy canes sweet jelly beans pastry carrot cake cake. Carrot cake pie pudding sweet roll pastry jelly beans brownie. Tart pastry jujubes sweet pudding bonbon jelly cookie carrot cake. Bear claw sweet roll chocolate cake bonbon cookie pastry sesame snaps oat cake tart. Gingerbread pudding dessert cheesecake icing cake bonbon. Gingerbread pastry pie caramels cupcake tootsie roll. Brownie apple pie jelly-o donut halvah. Carrot cake bonbon powder cupcake cake caramels jelly beans.</p>
	<p>Ice cream cupcake apple pie. Donut soufflé sweet. Cookie liquorice candy tootsie roll candy pie. Chocolate cake gingerbread pudding jelly cake jujubes danish cake. Sweet tiramisu jelly dragée. Cake icing croissant chocolate cake fruitcake. Cotton candy powder chocolate jujubes bonbon croissant candy sesame snaps. Dragée dessert cotton candy. <br> <br>
	Wafer jelly-o marshmallow candy canes sweet jelly beans pastry carrot cake cake. Carrot cake pie pudding sweet roll pastry jelly beans brownie. Tart pastry jujubes sweet pudding bonbon jelly cookie carrot cake. Bear claw sweet roll chocolate cake bonbon cookie pastry sesame snaps oat cake tart. Gingerbread pudding dessert cheesecake icing cake bonbon. Gingerbread pastry pie caramels cupcake tootsie roll. Brownie apple pie jelly-o donut halvah. Carrot cake bonbon powder cupcake cake caramels jelly beans.</p>
	<hr>
	<hr>
</div>

<div class="doughnutbox" id="second">
</div>
<br>
<hr>
<hr>

<div class="doughnutgallery">
	<% @doughnuts.each do |doughnut| %>
	<div class="doughnuts">
		<h2><%= link_to doughnut.title, doughnut %></h2>

			<%= link_to "javascript:;", class: "lightboxlink", data: { img: doughnut.image.url } do %>
			<%= image_tag doughnut.image.url(:medium) %>
			<% end %>
	</div>
	<% end %>
</div>
<br>
<hr>
<hr>