<div class="doughnutbox" id="first">
	<div id="logo">
		KEYHOLE DOUGHNUTS
	</div>
	<div id="background">
	</div>
	<!-- <div id="foreground">
		Foreground Doughnut Image Or Logo
	</div>
	<div id="behind">
		Behind Doughnut Image Or Logo
	</div> -->
</div>
<span id="about"></span>
<div class="about_wrapper">
	<div class="skinny_wrapper">
		<h1>About Us</h1>
		
		<hr>
		<hr>

		<p>Ice cream cupcake apple pie. Donut soufflé sweet. Cookie liquorice candy tootsie roll candy pie. Chocolate cake gingerbread pudding jelly cake jujubes danish cake. Sweet tiramisu jelly dragée. Cake icing croissant chocolate cake fruitcake. Cotton candy powder chocolate jujubes bonbon croissant candy sesame snaps. Dragée dessert cotton candy. <br> <br>
		Wafer jelly-o marshmallow candy canes sweet jelly beans pastry carrot cake cake. Carrot cake pie pudding sweet roll pastry jelly beans brownie. Tart pastry jujubes sweet pudding bonbon jelly cookie carrot cake. Bear claw sweet roll chocolate cake bonbon cookie pastry sesame snaps oat cake tart. Gingerbread pudding dessert cheesecake icing cake bonbon. Gingerbread pastry pie caramels cupcake tootsie roll. Brownie apple pie jelly-o donut halvah. Carrot cake bonbon powder cupcake cake caramels jelly beans.</p>
		<p>Ice cream cupcake apple pie. Donut soufflé sweet. Cookie liquorice candy tootsie roll candy pie. Chocolate cake gingerbread pudding jelly cake jujubes danish cake. Sweet tiramisu jelly dragée. Cake icing croissant chocolate cake fruitcake. Cotton candy powder chocolate jujubes bonbon croissant candy sesame snaps. Dragée dessert cotton candy. 
			Ice cream cupcake apple pie. Donut soufflé sweet. Cookie liquorice candy tootsie roll candy pie. Chocolate cake gingerbread pudding jelly cake jujubes danish cake. Sweet tiramisu jelly dragée. Cake icing croissant chocolate cake fruitcake. Cotton candy powder chocolate jujubes bonbon croissant candy sesame snaps. Dragée dessert cotton candy. <br><br>Ice cream cupcake apple pie. Donut soufflé sweet. Cookie liquorice candy tootsie roll candy pie. Chocolate cake gingerbread pudding jelly cake jujubes danish cake. Sweet tiramisu jelly dragée. Cake icing croissant chocolate cake fruitcake. Cotton candy powder chocolate jujubes bonbon croissant candy sesame snaps. Dragée dessert cotton candy.</p>
		<hr>
		<hr>
	</div>
</div>

<div class="doughnutbox" id="second">
</div>
<span id="gallery"></span>
<div class="doughnutgallery skinny_wrapper">
	<h1>Our Pride and Joy</h1>
	<hr>
	<hr>
	<br>
	<% @doughnuts.each do |doughnut| %>
	<div class="doughnuts">
			<%= link_to "javascript:;", class: "lightboxlink", data: { img: doughnut.image.url, desc: markdown(doughnut.description), title: doughnut.title } do %>
			<%= image_tag doughnut.image.url(:medium) %>
			<% end %>
	</div>
	<% end %>
	<br>
	<br>
	<hr>
	<hr>
	<br>
</div>

<div class="doughnutbox" id="third">
</div>
<br>
<span id="blog"></span>
<div class="blog_wrapper skinny_wrapper clearfix">
	<h1>Doughnut Blog</h1>
	<hr>
	<hr>
	<div>
		<% @posts.each do |post| %>
		<div class="blog_post">
			<h2><%= link_to post.title, post%></h2>
			<p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
		</div>
		<% end %>
	</div>

</div>

<br>
<hr>
<hr>
<br>
<span id="contact"></span>
<div class="contact_us">
	<div class="skinny_wrapper">
		<h1>CONTACT US (mandrill)</h1>
	</div>
</div>

<br>