<div class="container order">
	<p class="center">We deliver to locations in Manhattan below 110th St.*</p>
	<p class="center">Orders may also be picked up from our Flatiron Headquarters</p>
	<p class="center">For Catering & Events, please Contact Us!</p>

	<div class="section">
		<div class="row">
			<div class="col s12 m6">
				<div class="card z-depth-2">
					<div class="card-image">
						<%= image_tag("doughnutgroup5.jpg", height:"330") %>
						<span class="purple-text text-lighten-1 card-title">Pricing Sheet</span>
					</div>
					<!-- <div class="card-content">
					</div> -->
					<div class="card-action">
						<a href="/pricingsheet_dec15.pdf" target="_blank" class="white-text">Link</a>
					</div>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="card z-depth-2">
					<div class="card-image">
						<%= image_tag("doughnut3.jpg", height:"330") %>
						<span class="purple-text text-lighten-1 card-title">Order Request</span>
					</div>
					<!-- <div class="card-content">
					</div> -->
					<div class="card-action">
						<a href="https://docs.google.com/forms/d/1MMbYyz25tFuUFkKawPxCUMetxi6Hzsn-a1ZNVQ99CkE/viewform" target="_blank" class="white-text">Link</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="left-align">*Delivery fee may apply. Minimum order for delivery $50. Free delivery for orders over $100.</p>
</div>
