<h1>List of all Doughnuts</h1>
<%= link_to "Create Doughnut", new_doughnut_path(@doughnut) %>
<div>
	<% @doughnuts.each do |doughnut| %>
	<div>
		<p class="date"><%= doughnut.created_at.strftime('%A, %B %d') %></p>
		<h2><%= link_to doughnut.title, doughnut%></h2>
		<%= image_tag doughnut.image.url(:thumbnail) %>
	</div>
	<% end %>
</div>