<div class="container">
	<% @doughnuts.each do |doughnut| %>
	<!-- <div>
		
		<h2><%= link_to doughnut.title, doughnut%></h2>
		<%= image_tag doughnut.image.url(:thumbnail) %>
	</div> -->
	
	<% end %>
</div>