@import 'normalize';

//********** Pallet Town
$dark: #424652;
$white: #FFFFFF;
$light: #9a9da4;
$highlight: pink;
$border: #E9E9E9;
$shadows: 'Shadows Into Light', cursive;
$lato: 'Lato', sans-serif;
$salsa: 'Salsa', cursive;

//********** Overarching CSS.SCSS
body{
	font-family: $lato;
}

h1{
	font-family: $shadows;
	color: #ccc;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}
.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
	padding: 0;
	h1{

    margin-top: 0px;

	}
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

hr{
	width: 10%;
	border: 1px solid $border;
}

//********** NAVIGATION

#main_navigation{
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0 auto;
	width: 100%;
	height: 100px;
	background-color: $white;
	nav{
		padding: 0px;
		margin: 0 auto;
		ul{
			margin: 0 auto;
			list-style: none;
			padding: 0;
			text-align: center;
			margin-left: -50px;
		}
		li{
			margin: 0 auto;
			display: inline;
			a{
				color:black;				
				text-decoration: none;
				font-size: 35px;
				margin: 0 1.5rem;
				font-family: $shadows;
			}
			:visited{
				color:black;
				text-decoration: none;
				font-size: 18px;
			}

			:hover{
				color: $highlight; 
			}
			#keyholelogo{
			height: 80px;
			}
		}	
	}	
}

#navblock{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: white;
}

footer{
	position: fixed;
	bottom: 0px;
	left: 48%;
	a{
		color: $light;
		:hover{
			color: $highlight;
		}
	}
}
	//********** ANCHORS
	#about{
	  display: block;
	  height: 100px; 
	  margin-top: -100px;
	  visibility: hidden;
	  z-index: -2;
	}
	#gallery{
	  display: block;
	  height: 98px; 
	  margin-top: -98px;
	  visibility: hidden;
	  z-index: -2;
	}
	#blog{
	  display: block;
	  height: 100px; 
	  margin-top: -100px;
	  visibility: hidden;
	  z-index: -2;
	}
	#contact{
	  display: block;
	  height: 100px; 
	  margin-top: -100px;
	  visibility: hidden;
	  z-index: -2;
	}
//********** PARALLAX
.doughnutbox#first{
	position: relative;
	height: 100vh;
	margin-bottom: 0px;
	z-index: -1;
	background: url("donutlogo.png"){
		size: contain;
		repeat: no-repeat;
		position: center center;
		attachment: fixed;
		height: 100%;
	}
	#logo{
		color: $white;
		font-size: 15vmin;
		font-family: $shadows;
		font-weight: bold;
		text-align: center;
		-webkit-text-stroke: .01px black;
		top: 27%;
		position: relative;
		margin: 0 auto;
		height: 100px;
		z-index: -1;
	}
	#foreground{
		background-color: transparentize(pink, 0.4);
		position: right bottom;
		position: absolute;
		left: 75%;
		bottom: 25%;
	}
	#behind{
		background-color: transparentize(pink, 0.4);
		position: absolute;
		left: 10%;
		top: 10%;
	}
}
.doughnutbox#second{
	position: relative;
	height: 600px;
	z-index: -1;
	background: url("doughnut1.jpg"){
		width: 100%;
		height: 600px;
		repeat: no-repeat;
		position: center center;
		attachment: fixed;
	}
}
.doughnutbox#third{
	position: relative;
	height: 600px;
	z-index: -1;
	background: url("doughnut3.jpg"){
		width: 100%;
		height: 600px;
		repeat: no-repeat;
		position: center center;
		attachment: fixed;
	}
}
//********** ABOUT US

.about_wrapper{
	z-index: 1;
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 0;
}

//********** DONUT GALLERY

.doughnutgallery{
	max-width: 75%;	
	margin: 0 auto;
	padding: 0;
	text-align: center;
	.doughnuts{
		display: inline-block;
		width: 300px;
		height: 300px;
		border: 1px solid black;
		opacity: 0;
		transform: translate(30px);
		transition: all 0.4s ease-in-out;
	}
	.is-showing{
		opacity: 1;
		transform: translate(0px)
	}
}
	//********** LIGHTBOX
.outerlight{
	background-color: rgba(0,0,0,.5);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0%;
	left: 0%;
}

.innerlight{
	text-align: center;
	font-style: bold;
}	

.lightimg{
	width: 45%;
	position: top;
	display: inline-block;
}

.lightword{
	width: 45%;
	position: top;
	display: inline-block;
	color: white;
	vertical-align: top;
}

//********** BLOG
.blog_wrapper{
	height: 85vh;
}
.blog_post{
	float: left;
	margin: 0 auto;
	width: 33.3333%;
	text-align: center;
	a{
		color:black;				
		text-decoration: none;
		font-size: 6vh;
		margin: 0 1.5rem;
		font-family: $shadows;
	}
	:visited{
		color:black;
		text-decoration: none;
		font-size: 18px;
	}

	:hover{
		color: $highlight; 
	}
}

//********** CONTACT US


//********** CONTENT MANAGEMENT SYSTEM: FORMS, INDEX, SHOW, EDIT


//********** form
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 100%;
		max-width: 100%;
		height: 3em;
		border: 2px solid $border;
		padding: 1em;
		margin: .5em 0 2em 0;
	}

	textarea {
		min-height: 20em;
	}

	input[type="submit"], .button {
		outline: none;
		background: transparent;
		border: 2px solid $border;
		text-align: center;
		font-size: 1em;
		color: $dark;
		text-decoration: none;
		padding: 1em 2em;
		&:hover {
			border: 2px solid $highlight;
			color: $highlight;
		}
	}



//********** index
	#index_wrapper{
		text-align: center;
		:link{
			color:black;				
			font-size: 35px;
			margin: 0 1.5rem;
			font-family: $shadows;
		}
		:visited{
			color:black;
			text-decoration: none;
			font-size: 18px;
		}
		:hover{
			color: $highlight;
		}
		.doughnuts_index{
		display: inline-block;
		width: 300px;
		height: 300px;
		border: 1px solid $border;
		margin-bottom: 5px;
		padding: 1px;
			:link{
				color:black;				
				text-decoration: none;
				font-size: 35px;
				margin: 0 1.5rem;
				font-family: $shadows;
			}
			:visited{
				color:black;
				text-decoration: none;
				font-size: 18px;
			}
			:hover{
				color: $highlight; 
			}
		}	
	}

//********** show
	.show_wrapper{
		padding: 0;
		text-align: center;
		.date{
			margin: auto;

		}
		#show_image{
			text-align: center;
		}
		.edit_delete_link{
			:link{
				color:black;				
				text-decoration: none;
				font-size: 35px;
				margin: 0 1.5rem;
				font-family: $shadows;
			}
			:visited{
				color:black;
				text-decoration: none;
				font-size: 18px;
			}
			:hover{
				color: $highlight; 
			}
		}

	}
	.show_content{
		text-align: center;
		font-size: 18px;
		padding: 10px 0 40px 0;
	}
// 

